.button{
    display: inline-flex;
    height: var(--input-height);
    align-items: center;
    padding: 12px;
    color: var(--color-gray-1);
    background: var(--color-dark-2);
    border-radius: var(--bordrt-radius);
    border: 1px solid var(--color-dark-2);
    &:hover{
        color: var(--color-dark-2);
        background-color: transparent;
    }
    &:active {
        transform: scale(1.05);
    }
}