.field {
    position: relative;
    &:has(.field__input:not(:placeholder-shown)) .field__label{
        scale: 0.7;
        translate: -1.75em -2.6em ;
        color: var(--color-black);
    }
}
.field__label{
    position: absolute;
    top: 50%;
    left: 17px;
    color: var(--color-gray-3);
    translate: 0 -50%;
}
.field__input{
    --fieldInputPaddingX: 16px;
      --fieldSearchInputIconSize: 16px;
    width: 100%;
    height: var(--input-height);
    padding-inline:  var(--fieldI
    nputPaddingX);
    background-color: transparent;
    border: var(--border);
    border-radius: var(--bordrt-radius);
}