.todo-item{
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-left: 10px;
    border: var(--border);
    border-radius: var(--bordrt-radius);
    transition-duration: var(--transition-duration) ;
    &:hover{
        background-color: var(--color-gray-1);
    }
}
.todo-item__delete-button{
    margin-left: auto;
    padding: 0;
    color: var(--color-gray-4);
}